.type_01_header div {
  font-size: 18px;
  font-weight: 500;
}

.type_01_header a {
  text-decoration: none;
}

.type_01_header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 100px;
  background-color: #5D5FEE;
}

#type_01_gnb {
  position: relative;
  z-index: 10;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1400px;
}

#type_01_gnb .type_01_nav {
  display: flex;
  justify-content: row;
  padding: 11px 11px;
  overflow: hidden;
  border-radius: 0px;
}

#type_01_gnb .type_01_logo {
  padding: 11px 0px;
}

.type_01_logo a {
  display: flex;
}

.type_01_logo a .type_01_logo__image {
  position: relative;
  background-image: url("../../assets/images/logo_icon.png");
  width: 48px;
  height: 48px;
}

.type_01_logo a span {
  position: relative;
  padding: 12px 0px;
  color: white;
  font-size: 1rem;
}

.type_01_nav a {
  position: relative;
  color: white;
  font-size: 1rem;
  transition: text-shadow 0.25s;
}

.type_01_nav a:hover {
  text-shadow: 0px 0px 4px white;
}

.type_01_nav a:hover ~ .type_01_arrow {
  opacity: 1;
}

.type_01_nav__item {
  display: flex;
  flex-direction: column;
  padding: 8px 23px;
}

.type_01_nav__item a {
  position: relative;
  top: 24%;
}

.type_01_nav__item .type_01_arrow {
  position: relative;
  top: 40%;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 8px 14px 8px;
  border-color: transparent transparent white transparent;
  opacity: 0;
  transition: opacity 0.25s;
}

.type_01_buy {
  padding: 11px 11px;
}


.type_01_buy #type_01_nav__buy__btn {
  position: relative;
  z-index: 2;
  border-radius: 5px;
  padding: 15px 30px;
  background-color: white;
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
  color: #ce4344;
  box-shadow: inset 0px 0px #ce4344;
  transition: box-shadow 0.25s, color 0.25s;
}

.type_01_buy #type_01_nav__buy__btn:hover {
  box-shadow: inset 0px -55px #ce4344;
  color: white;
}