#home_container {
  position: relative;
  height: 100vh;
}

#home_main {
  z-index: 100;
  position: relative;
  display: flex;
  justify-content: left;
  max-width: 1400px;
  width: 150px;
  height: 100%;
}

#home_main #home_sidebar {
  position: absolute;
  display: flex;
  max-width: 150px;
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: inset 0px 0px 0px 2px;
}

#home_main #home_sidebar__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 10%;
}

#home_main #home_sidebar__container a {
  text-decoration: none;
  color: black;
}

#home_sidebar #home_sidebar__type_01 {
  border: 3px solid black;
  transition: text-shadow 0.5s, box-shadow 0.5s, border 0.5s;
}

#home_sidebar #home_sidebar__type_01:hover {
  text-shadow: 0px 8px 6px rgba(0,0,0,0.9);
  box-shadow: 7px 7px 0px #70757a, -7px -7px 0px #70757a, inset 0px -57px #70757a;
  border: 3px solid #70757a;
}

#home_sidebar #home_sidebar__type_01:hover span {
  color: white;
}

#home_sidebar .home_sidebar__item {
  display: flex;
  justify-content: center;
  margin: 10px 10px;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
}

#home_sidebar .home_sidebar__item span {
  white-space: nowrap;
  color: black;
  font-weight: 1000;
  transition: color 0.5s;
}