#home_container {
  position: relative;
  height: 100vh;
}

#home_main {
  z-index: 100;
  position: relative;
  display: flex;
  justify-content: left;
  max-width: 1400px;
  width: 150px;
  height: 100%;
}

#home_main #home_sidebar {
  position: absolute;
  display: flex;
  max-width: 150px;
  height: 100%;
  width: 100%;
  background-color: black;
}

#home_main #home_sidebar__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 10%;
  background-color: greenyellow
}

#home_sidebar .home_sidebar__item {
  background-color: mediumspringgreen;
  margin: 15px 30px;
  font-size: 1.2rem;
}

#home_sidebar .home_sidebar__item a {
  color: black;
  text-decoration: none;
}
