#article {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 30px 0;
  width: 750px;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background-color: #363636;
  box-shadow: 0 0 12px #ccc;
}

#article__title {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 700;
}

#article__body {
  width: 100%;
}