#article_navigation {
  position: sticky;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 15px;
  border-left: 1px solid;
  border-color: #767676;
}

/* 모바일 */
@media screen and (max-width:767px) {
  #article_navigation {
    display: flex;
    flex-direction: column;
    width: 0%;
    padding: 0;
    border: 0px;
  }
}