#header_frame {
    width: 100vw;
    border-bottom: 1px solid;
}

#header {
    position: relative;
    margin: 0 auto;
    width: 1320px;
    max-width: 1320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header a {
    margin: auto;
}

#header__logo {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 100px;
    margin: 0;
    padding: 0;
    align-items: center;
    background-image: url("../assets/images/logo.png");
}