#Home_panel {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 15px;
  background-color: #232627;
  border-right: 1px solid;
  border-color: #767676;
}

#Home_panel__nav {
  position: sticky;
  top: 0;
  width: 100%;
}

.Home_list__menu {
  list-style-type: none;
  padding: 0;
}

.Home_list__category > summary {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  width: 80%;
  height: 100%;
  margin: 3px 10px;
  padding: 3px 10px;
  list-style-position:inside;
  border-radius: 3px;
  font-weight: 700;
  font-size: 0.8rem;
}

.Home_list__category > summary #Home_list__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent transparent transparent transparent;
}

.Home_list__category[open] > summary #Home_list__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent transparent transparent transparent;
}

.Home_list__category > summary:active {
  background-color: #636363;
}


#Home_panel__button {
  display: none;
}

/* 모바일 */
@media screen and (max-width:767px) {
  #Home_panel {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 0;
    height: 100%;
    margin: 0;
    border-right: 0;
    background-color: #232627;
  }
  
  #Home_panel.Home_panel_checked {
    box-shadow: 0 0 8px #ccc;
    width: 300px;
    animation: home_panel_animation 0.5s 1;
  }

  @keyframes home_panel_animation {
    0% {
      left: -300px;
    }
    100% {
      left: 0px;
    }
  }

  #Home_panel__nav {
    width: 100%;
    margin: 64px 0px 0px 0px;
  }

  .Home_panel__nav_checked {
    display: block;
  }

  .Home_list__category > summary {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    height: 100%;
    margin: 5px 0;
    padding: 0;
    list-style-position: inside;
    border-radius: 3px;
    font-weight: 700;
    font-size: 1rem;
  }

  #Home_panel__button {
    display: flex;
    position: absolute;
    top: 0px;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .Home_panel__button_checked {
    left: 236px;
    animation: home_panel__button_animation 0.5s 1;
  }

  @keyframes home_panel__button_animation {
    0% {
      left: -64px;
    }
    100% {
      left: 236px;
    }
  }

  .Home_panel__email {
    position: absolute;
    display: none;
    left: -300px;
    width: 64px;
    height: 64px;
  }

  .Home_panel__email_checked {
    position: absolute;
    display: flex;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    left: 0px;
    animation: Home_panel__email_animation 0.5s 1;
  }

  @keyframes Home_panel__email_animation {
    0% {
      left: -300px;
    }
    100% {
      left: 0px;
    }
  }

  #Home_panel__email_image {
    width: 20px;
    height: 20px;
    background-image: url("../assets/images/email_icon.png");
    background-size: contain;
  }

  .Home_panel__about {
    position: absolute;
    display: none;
    left: -236px;
    width: 64px;
    height: 64px;
  }

  .Home_panel__about_checked {
    position: absolute;
    display: flex;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    left: 64px;
    animation: Home_panel__about_animation 0.5s 1;
  }

  @keyframes Home_panel__about_animation {
    0% {
      left: -236px;
    }
    100% {
      left: 64px;
    }
  }

  #Home_panel__about_image {
    width: 20px;
    height: 20px;
    background-image: url("../assets/images/user_icon.png");
    background-size: contain;
  }
}