#Home_panel {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 15px;
  border-right: 1px solid;
  border-color: #767676;
}

.Home_list__menu {
  list-style-type: none;
  padding: 0;
}

.Home_list__category > summary {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  width: 80%;
  height: 100%;
  margin: 3px 10px;
  padding: 3px 10px;
  list-style-position:inside;
  border-radius: 3px;
  font-weight: 700;
  font-size: 0.8rem;
}

.Home_list__category > summary #Home_list__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent transparent transparent transparent;
}

.Home_list__category[open] > summary #Home_list__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent transparent transparent transparent;
}

.Home_list__category > summary:hover {
  background-color: #636363;
}