.nav_list {
    width: 80%;
    padding: 3px 10px;
    margin: 3px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.nav_list:hover {
    background-color: #636363;
}

.nav_list__title{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    text-indent: 2rem;
}

@media only screen and (min-device-width: 320px) and (max-divice-width: 480px){
    .nav_list {
        width: 100%;
        padding: 3px 10px;
        margin: 3px 10px;
        border-radius: 3px;
        cursor: pointer;
    }
}